.row
  .col-sm-12
    %h1 User's profile
.row
  .col-sm-3
    = render 'users/partials/info'
    = render 'users/partials/activity'
  .col-sm-6
    = render 'users/partials/products'
  .col-sm-3
    = render 'users/partials/reviews'


