.panel.panel-primary
  .panel-heading
    .panel-title
      Activity
  %ul.list-group
    %li.list-group-item
      %strong
        Products:
      = current_user.products.count
    %li.list-group-item
      %strong
        Reviews:
      = current_user.reviews.count