%h2
  Category:
  = category.name
%p
  - if user_signed_in?
    %h3 New product
    = render 'products/form'

  - if current_user && current_user.admin?
    = link_to 'Edit', edit_category_path(category)
\|
= link_to 'Back', categories_path, class: 'btn btn-primary'
