= link_to 'Back to categories', categories_path, class: 'btn btn-primary'

.header
  %h2
    Category:
    = category.name

%p
  - if user_signed_in?
    .product-form
      %h3 Add new product to this category
      = render 'products/form'


